<br>
<br>
<br>
<% if @items.empty? %>
    <h2>There are no items at the moment</h2>
<% else %>
    <% @items.each do |i| %>
        Name: <%= i.name %> <br>
        Count: <%= i.count %> <br>
        Store: <%= i.store.name %> 
    <% end %>
<% end %>
<br>
<br>

